*{margin: 0px; padding:0px;}
p{margin: 0px;}
h1, h2, h3, h4, h5, h6{margin: 0px;}
a{text-decoration: none;}

.login_page{margin-top: 50px;}
#formUser .pull-right a{margin-top: 10px; display: block;}
.form-inline .form-group, .form-group{float: left; width: 100%; margin-bottom: 15px;}

.proLabel{float: left; width: 40%;}
.proInput{float: right; width: 60% !important;}
.userCreation{margin-top: 50px;}
.text-center{float: left; width: 100%;}

.backToLogin{margin: -25px 0 0 0; display: block; float: right;}
.backToLogin a{text-decoration: underline;}
.backToLogin a:hover{color:#f00;}
#employee .form-inline .form-control.proInput{width: 60% !important;}