*{margin: 0px; padding:0px;}
p{margin: 0px;}
h1, h2, h3, h4, h5, h6{margin: 0px;}
a{text-decoration: none;}

.login_page{margin-top: 50px;}
#formUser .pull-right a{margin-top: 10px; display: block;}
.form-inline .form-group, .form-group{float: left; width: 100%; margin-bottom: 15px;}

.proLabel{float: left; width: 40%;}
.proInput{float: right; width: 60% !important;}
.userCreation{margin-top: 60px; margin-bottom: 60px;}
.text-center{float: left; width: 100%;}

.backToLogin{margin: -25px 0 0 0; display: block; float: right;}
.backToLogin a{text-decoration: underline;}
.backToLogin a:hover{color:#f00;}
#employee .form-inline .form-control.proInput{width: 60% !important;}

.main-footer{
	position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}
.employee-list{margin-top: 50px;}
.content-wrapper{background: none; margin-top: 50px;}
.main-footer{padding: 10px;}
.addmore{font-size: 12px; margin-bottom: 15px;}
.heading1{float: left; width: 100%; background: #8c91a0; padding:5px 10px; margin: 0 0 15px 0;}
.heading1 h3{font-size: 17px; line-height: 20px; color: #fff; margin: 0px;}
.heading2 h2{font-size: 17px; line-height: 20px; color: #fff; margin: 0px;}
.heading2{float: left; width: 100%; background: #8c91a0; padding:5px 10px; margin: 0 0 15px 0;}
.main-sidebar{position: fixed;}
.main-header{width: 100%; position: fixed; top:0px; background: #3c8dbc; }
.container{margin-top:50px;}